
    <header class="min-h-screen bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('#');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h2>Você saiu da sua conta</h2>
            <div class="flex flex-nowrap justify-center space-x-5 p-5">
            <a href="#"><button class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">Fazer Login</button></a>
            <a href="#"><button class="bg-primary_red py-1 px-3 text-white md:text-lg rounded-md">Criar uma Conta</button></a>
            </div>
        </div>
    </header>

    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">
            
            <li>&copy; 2021</li>
            <li> Feito com Python (Django)</li>
            <li>Hashtag</li>
        </ul>
    </footer>

