<nav class="flex text-gray-100 justify-between items-center py-3 px-4 fixed w-full z-50 ">
        <div class="w-6/12">
            <a href='/'>
            <img src="{% static 'images/hashflix.png' %}" alt="logo" class="w-5/12 md:w-2/12">
            </a>
        </div>

        <div class="w-6/12 flex flex-nowrap justify-end">
              <div class="mr-2">
                  <form method="get" action="#">
                      <input class="py-1 px-2 rounded-md text-black" name="query" value="#" type="text" placeholder="Pesquisar...">
                      <input type="submit" value="">
                  </form>
              </div>

              <div class="mr-2">
                  <a href="#" class="">
                    <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                        Entrar
                    </button>
                  </a>
              {% endif %}
              </div>

                <div class="mr-2">
                <a href="#" class="">
                    <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                        Editar Perfil
                    </button>
                </a>
              </div>
    </div>

    </nav>